<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <input name="email" ngModel #email="ngModel" placeholder="Email" required email />
        <span *ngIf="email.touched && email.invalid" class="help-block">Please enter an email address</span>

        <select [ngModel]="subscriptions[1]" name="subscriptionDropdown">
          <option *ngFor="let subscription of subscriptions" [value]="subscription">{{subscription}}</option>
        </select>

        <input type="text" ngModel #password="ngModel" name="password" required placeholder="password"/>
        <span *ngIf="password.touched && password.invalid" class="help-block">Please enter a password</span>


        <button type="submit" [disabled]="!form.valid">Submit</button>
      </form>
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
    </div>
  </div>
</div>
